<div class="view-container">
  <h2 class="view-title">To-Do</h2>

  <div class="newItem-container">
    <div class="newItem-inputWrapper">
      <mat-form-field appearance="fill">
        <mat-label>New Item</mat-label>
        <input matInput [(ngModel)]="newItemLabel">
      </mat-form-field>
    </div>

    <div>
      <button mat-mini-fab (click)="addTodoItem(newItemLabel)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <h4>Incomplete</h4>

  <div class="activeItems-container items-container">
    <ng-container *ngFor="let item of incompleteItems; index as i">
      <div>
        <mat-checkbox [(ngModel)]="incompleteItems[i].isComplete" (ngModelChange)="updateToDoItem(item)"></mat-checkbox>
      </div>

      <ng-template #itemEditTemplate>
        <div class="activeItem-input-wrapper">
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="incompleteItems[i].label" [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="stopEditing(item)">
          </mat-form-field>
        </div>
      </ng-template>

      <ng-template #itemLabelTemplate>
        <div (click)="startEditing(i)">
          <span class="activeItem-label item-label">{{item.label}}</span>
        </div>
      </ng-template>

      <ng-container *ngTemplateOutlet="activeInput === i ? itemEditTemplate : itemLabelTemplate"></ng-container>

      <div>
        <button mat-mini-fab (click)="deleteTodoItem(item.id)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>

  <mat-divider></mat-divider>

  <h4>Completed</h4>

  <div class="inactiveItems-container items-container">
    <ng-container *ngFor="let item of completeItems; index as i">
      <div>
        <mat-checkbox [(ngModel)]="completeItems[i].isComplete" (ngModelChange)="updateToDoItem(item)"></mat-checkbox>
      </div>
      <div>
        <del class="inactiveItem-label item-label">{{item.label}}</del>
      </div>
      <div>
        <button mat-mini-fab (click)="deleteTodoItem(item.id)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>

</div>
